#logo{
    cursor: pointer;
    font-weight: 700;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.8);
    
    img{
        width: 50px;
    }
    
    span{
        padding-top: 0.3em;
        font-family: 'Josefin Sans', sans-serif;
        color: rgba(0, 0, 0, 0.8);
    }
}